HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Node / React ###
vibe-frontend/node_modules/
vibe-frontend/build/
vibe-frontend/.env.local
vibe-frontend/.env.development.local
vibe-frontend/.env.test.local
vibe-frontend/.env.production.local

vibe-frontend/npm-debug.log*
vibe-frontend/yarn-debug.log*
vibe-frontend/yarn-error.log*

### VS Code ###
.vscode/
